<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EHS</title>
</head>

<body>
    {% extends "employees/main.html" %}

    {% block body %}


    <br>
    <div style="text-align: center;">
        <h3 class="m-4 text-center mt-5"><u>Admin Panel Info</u></h3>
        <p style="margin-left: 25%; margin-right: 25%;">The system contains an option for a Super User/Admin that can be
            accessed at " <a href="https://ehs.herokuapp.com/admin">https://ehs.herokuapp.com/admin </a>".
            A Super User/Admin can enter to Admin Panel py providing credentials and can overview/edit and perform CRUD
            and all functionalities that the admin who handles the site can.
        </p>
    </div>

    {% endblock %}
</body>

</html>